body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
        padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
    
a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
}
input {
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
padding: 120px 0;
}
.section-header {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
      
        

}
.container {
    width: 1158px;
padding: 0 15px 0 15px;
    margin-left: auto;
    margin-right: auto; 
}
.header-container {
    display: flex;
        align-items: center;
}

.navigation {
    display: flex;
        align-items: center;
        margin-right: auto;
}
.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list-item:not(:last-child) {
margin-right: 40px;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-header-accent {
    color: #2E2F42;
}
.logo-footer-accent {
    color: #F4F4FD;
}
.nav-link,
.section-title,
.subtitle {
    color: #2E2F42;
}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.nav-link {
    font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        padding: 24px 0 24px;
        display: block;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
}
.nav-link:first-child {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus, .nav-link:active, .address-link
 {
    color: #404BBF;
}

.nav-link.active {
    color: #404BBF;
    
    bottom: -1px;
}
.nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
        position: absolute;
            bottom: -1px;
            
}
.address-list {
    font-style: normal;
    display: flex;
    align-items: center;
}
.address-list-item:not(:last-child) {
margin-right: 40px;
}
.address-link {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover, .address-link:focus, .address-link:active {
    color: #404BBF;
}
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
    

.hero-title {
    color: #FFFFFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 48px;
}
.hero-btn {
    background-color: #4D5AE5;
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: block;
        min-width: 169px;
        height: 56px;
        border-radius: 4px;
        margin-right: auto;
        margin-left: auto;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .hero-btn:hover, .hero-btn:focus, .hero-btn:active {
    background-color: #404BBF; 
}

.advantages-list {
    display: flex;
    justify-content: center;
}
.advantages-list-item:not(:last-child) {
margin-right: 24px;
}
.advantages-list-item {
    width: calc((100% - 72px) / 4);
}
.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
        border: 1px solid #8E8F99;
}

.subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.text {
    /* font-family: "Raleway", sans-serif; */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.our-team {
    background-color: #F4F4FD;
}
.our-team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-item:not(:last-child) {
    margin-right: 24px;
}
.our-team-list {
    display: flex; 
}
.our-team-item:first-child {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-item-bottom {
    padding: 32px 0 32px;
    text-align: center;
}
.socials-list {
    display: flex;
    gap: 16px;
    
    align-items: center;
    margin-top: 8px;
}
.socials-item {
    width: 40px;
    height: 40px;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    color: #F4F4FD;
    fill: currentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list-team {
    gap: 24px;
    justify-content: center;
}

.socials-link-team:hover, .socials-link-team:focus, .socials-link-team:active {
    background-color: #404bbf;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item-bottom {
    border: 1px solid #E7E9FC;
    border-top: none;
        background: #FFF;
    padding: 32px 16px;
}
.wrapper-overlay {
    position: relative;
    overflow: hidden;


}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 32px;
    background-color: #4D5AE5;
        color: #F4F4FD;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            transform: translateY(100%);
            transition-property: transform;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}
.footer {
    background-color: #2E2F42;
    padding: 100px 0 100px;

}
.footer>.container {
    display: flex;
    align-items: baseline;
}
.footer>.text {
    
    color: #F4F4FD;
}
.footer>.logo-text {
    margin-bottom: 16px;
}
.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.text-footer, .socials-text {
    color: #F4F4FD;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;

        letter-spacing: 0.02em;
        width: 264px;
}
.socials-text {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-logo-inform {
   margin-right: 120px;
}
.socials-link-footer:hover, .socials-link-footer:focus, .socials-link-footer:active {
    background-color: #31d0aa;
}
.socials-list-footer {
    gap: 16px;
} 
.backdrop {
    background-color: rgba(46, 47, 66, 0.40);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.btn-open {
position: absolute;
top: 24px;
right: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
margin-bottom: 24px;

    background-color: #E7E9FC;
    /* border: 1px; */
    /* border-color: rgba(0, 0, 0, 0.10);  */
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-open:hover {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-open:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.modal-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon:hover {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}


.form-wrapper {
    margin-bottom: 8px;
}
.form-wrapper-textarea {
    margin-bottom: 16px;
}

.form-wrapper-checkbox {
    margin-bottom: 24px;
}

.form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message:focus {
    border-color: #4D5AE5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
    color: rgba(46, 47, 66, 0.40);

}
.form-label {
    display: block;

    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-field {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
    fill: #4D5AE5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Custom checkbox */

.form-agreement {
    display: block;
    margin-bottom: 24px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    user-select: none;
}

.checkbox {
    
}

.form-agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    stroke-width: 1px;
    fill: transparent;
    stroke: rgba(46, 47, 66, 0.40);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.checkbox:checked + .form-agreement-checkbox {
background-color: #404BBF;
border-color: #404BBF;
}

.checkbox:checked+.form-agreement-checkbox > .form-agreement-icon {
    opacity: 1;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.checkbox:checked+.form-agreement-checkbox {
background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-agreement-icon {
    opacity: 0;
    fill: rgba(244, 244, 253, 1);
}

.form-agreement-link {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.form-btn {
    background-color: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, 
.form-btn:focus, 
.form-btn:active {
    background-color: #404BBF;
}

.subscribe-form-icon {
    fill: rgba(217, 217, 217, 1);
  
}
.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-wrapper {
    margin-left: auto;
}
.wrapper-caption {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.subscribe-form-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-shrink: 0;
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.subscribe-form-input::placeholder {
color: currentColor;
}
.subscribe-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    gap: 16px;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.subscribe-form-icon {
    margin-left: 16px;
}